*{margin:0 auto; padding:0; font-family: "微软雅黑";}
over{overflow: hidden; zoom:1;}

.box{width:700px;}

.top{border-bottom: 2px solid gray; overflow: hidden; zoom:1; margin-top:50px ;}
.top img{float:left; padding-left:15px;}
.top h2{text-align: center; color:gray; float:left; margin-left: 30%; font-size:30px;}

.bottom{margin: 10px; color:gray; width:650px;  text-indent: 1em; font-size: 12px;}
.bottom a{color: red;}
.bottom p{display: inline-block;}

.middle{width:650px;}
.middle dl{overflow: hidden; zoom:1;}
.middle dd{border-bottom: 1px solid gray;}
/*.middle dd:first-child{background-image: url(../img/未标题-2.png);  background-repeat:repeat-x ;}*/
#one{width:100px; height: 60px; float:right; margin-right:20px ; margin-top: 15px;}
#two{width:60px; height:40px; float:right; margin-right:20px ; margin-top: 20px;}
.middle select{border: 0; font-size: 20px;}
.middle span{color:grey; font-size: 20px; float:right; margin-top: 30px; margin-right:20px ;}
.middle dd input{width:450px; height: 60px; border: 0; padding:10px;}
.middle input:nth-child(2){width:400px;}
input[type="submit"]{width:100%; height:40px; background-color: gainsboro; color:gray; font-size:20px; line-height: 40px; border: 0; margin-top:30px ;}
